includes:
    - ./vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 6
    paths:
        - app
        - routes

    ignoreErrors:
        - '#Call to an undefined method Illuminate\\.*#'
